[Desktop Entry]
Name=Telsis Language Translator
Comment=App that translates to and from the Telsis language
Exec=telsis-translator-flutter
Icon=${SNAP}/meta/gui/telsis-translator-flutter.png
Terminal=false
Type=Application
Categories=Utility; 